/**
 * Outputs list of transition properties
 *
 * Author: Thomas Kelly (Shopify)
 * Source: https://github.com/Shopify/starter-theme
 * License: Copyright © 2018 Shopify. The MIT License (MIT)
 *
 * Arguments:
 *   - $transitions: {String} List of transition properties to set
 *
 * Usage:
 *   @import '~sass-library/mixins/transitions.scss';
 *
 *   .selector {
 *     @include transition(width, height 0.5s ease-in);
 *   }
 */

@function get-transition-properties($transition) {
 $property: all;
 $duration: 0.35s;
 $easing: cubic-bezier(0.44, 0.13, 0.48, 0.87);
 $delay: null;

 $defaultProperties: (
   $property,
   $duration,
   $easing,
   $delay
 );

 $properties: ();

 @for $i from 1 through length($defaultProperties) {
   $p: null;

   @if $i <= length($transition) {
     $p: nth($transition, $i);
   } @else {
     $p: nth($defaultProperties, $i);
   }

   $properties: append($properties, $p);
 }

 @return $properties;
}

@mixin transition($transitions...) {
  $output: ();

  @each $transition in $transitions {
    $output: append($output, get-transition-properties($transition), comma);
  }
  transition: $output;
}
