/**
 * Hide element but make it accessible to screen readers
 *
 * Author: Thomas Kelly (Shopify)
 * Source: https://github.com/Shopify/starter-theme
 * License: Copyright © 2018 Shopify. The MIT License (MIT)
 *
 * Usage:
 *   @import 'sass-library/mixins/visually-hidden.scss';
 *
 *   .selector {
 *     @include visually-hidden;
 *   }
 */

@mixin visually-hidden() {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Author: Thomas Kelly (Shopify)
 * Source: https://github.com/Shopify/starter-theme
 * License: Copyright © 2018 Shopify. The MIT License (MIT)
 *
 * Arguments:
 *   - $position: {String} Positioning method for element
 *
 * Usage:
 *   @import 'sass-library/mixins/visually-hidden.scss';
 *
 *   .selector {
 *     @include visually-shown(relative);
 *   }
 */

@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}
